# Get a key from https://developer.tech.yandex.ru/ (JavaScript API)
# If you get "Invalid API key", edit the key and add to HTTP Referer restrictions:
#   http://localhost
#   http://127.0.0.1
VITE_YANDEX_API_KEY=4a408bef-f3a5-4ce6-94d4-e69267136fbd